<section id="{{name}}" class="section section-{{name}}">
    <form class="contact-form">
        {{#if logo}}<figure class="logo"></figure>{{/if}}
        {{#if copy}}<label class="laebl">{{copy}}</label>{{/if}}
        <input type="email" name="email" id="email" value="enter your email..." />
        <input type="submit" name="submit" id="submit" value="" />
    </form>
    <div class="contact-info">
        {{#with address}}
        <div class="contact-info-address">
            <h4>{{title}}</h4>
            <p>{{street}}<br>{{city}}, {{state}} {{zipcode}} - {{email}}</p>
        </div>
        {{/with}}
        <div class="contact-info-social">
            {{#each social}}<a href="{{this}}" class="social-item social-{{@key}}"></a>{{/each}}
        </div>
        {{#with signature}}
        <div class="contact-info-signature">
            <p>{{{copy}}}</p>
        </div>
        {{/with}}
    </div>
</section>