<nav class="main-navigation pull-center">
    <ul class="menu row">
      {{#each sections}}
        {{#if menu-text}}<li class="col menu-item menu-item-{{@key}} {{{menu-classes}}}"><a href="#{{@key}}" class="menu-link menu-link-{{@key}}">{{menu-text}}</a></li>{{/if}}
      {{/each}}
    </ul>
</nav>