<section id="{{name}}" class="section section-{{name}} row">
    {{#each sections}}
        <div class="col section-item section-item-{{name}} {{#if content}}has-content{{else}}no-content{{/if}} large-{{width}} height-{{height}} {{#if alignment}}pull-{{alignment}}{{/if}}">
            {{#if content}}
                <div class="section-item-content large-9">
                    {{#if logo}}
                        <figure class="section-item-logo section-item-logo-{{name}}"></figure>
                    {{/if}}
                    <h3 class="subsection-headline">{{{content.headline}}}</h3>
                    <p class="copy">{{{content.copy}}}</p>
                </div>
            {{else}}
                {{#if logo}}
                    <figure class="section-item-logo section-item-logo-{{name}}"></figure>
                {{/if}}
            {{/if}}
        </div>
    {{/each}}
</section>